# !!! ВАЖНО !!!
# Это всего лишь тестовые данные. Для демонстрации!
# Поменяйте данные на свои!


SECRET_KEY = 'super-very-secret-key'
# Расскоментировать для продакшена
# DEBUG = True

# Для инициализации PostgreSQL
POSTGRES_USER=weather
POSTGRES_PASSWORD=weather
POSTGRES_DB=weather_db

# Для файла настроек (settings.py)
DB_NAME=weather_db
DB_USER=weather
DB_PASSWORD=weather
DB_HOST=db
# POSTGRES_HOST_AUTH_METHOD=trust
